body{
	background-color: lightyellow;
	font:12px Verdana;
	color:black;
}
#path{width:100%;padding:3px;background-color:white;border-bottom:2px solid silver;}
#most{width:100%;padding:2px;background-color:white;border-bottom:2px solid silver;font-size:10px;margin-bottom:5px} #most a{text-decoration:none}
#folders{height:90%;width:180px;padding:3px;background-color:white;border-left:2px solid silver;float:left;margin-right:2px;}
#filesContainer{height:90%;width:180px;background-color:white;border-left:2px solid silver;}
#filesOptions{height:auto;width:100%;float:left;border-color:silver;font-size:9px;padding:3px}
#files{height:80%;width:100%;float:left;}
.classFichier{position:absolute;top:50px;left:400px;width:65%;text-align:left;}

.historic a{ display:inline;}

input{border:1px solid gray;font:11px arial;}
.txtFileName{font:12px arial;width:200px}
select{border:1px solid gray;}
.boutonJ{height:20px;width:23px;}
.boutonJOQP{height:20px;width:23px;background-color:silver;}
#boutonToday{border:1px dashed red;font-weight:bold;}

a{cursor:pointer}
.imgFolder{width:15px;height:13px;border:0;margin:2px;}

#files div{padding:0 0 2px 0;margin:2px 0 2px 0;border-bottom:1px dashed silver;}
#files input{border:0;width:15px;height:15px;}

.cmdDel{width:190px;height:16px;font-size:9px;}

textarea{
	width:100%;
	height:150%;
	font-size:11px;
	font-stretch: expanded;
	/*font-family: "MS Sans Serif", Geneva, sans-serif;*/
	font-family: Arial, Helvetica, sans-serif;
	border:2px solid black;
	color: #4C7979;
	color: Blue;
	padding:3px;
	background-color: white;
}

#show_html{display:none;position:absolute;width:60%;left:400px;height:80%;top:60px;zindex:1;color:red;background-color:lightyellow;font-size:12px;padding:10px;border:5px solid blue;overflow:auto}


#FOO,#FIO,#SFIO{position:absolute;display:none}
.Foptions{background-color:silver;width:200px;border:1px solid gray;}
.Foptions a{display:block;width:100%;border:1px outset gray;font:12px arial;text-decoration:none;text-align:left;padding:2px 0 2px 20px;}
.Foptions a:hover{font-weight:bold;color:white;background-color:lightyellow;color:black;text-align:right;padding:2px 5px 2px 0;}
.Ftitle{border:1px outset gray;width:100%;font-weight:bold;background-color:gray;color:white;padding:2px 0 2px 5px;}
